@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
 body{
  font-family: 'Gluten', cursive;
font-family: 'Rubik', sans-serif;
font-weight: 500;
} 



@layer base {


  .h1 {
    @apply text-[4rem] tracking-[10%] uppercase text-white;
  }
  .p {
    @apply  text-[1.3rem] tracking-[10%] text-gray-200;
  }
  .p2 {
    @apply  text-[1.1rem]  text-gray-400;
  }

  .app{
    @apply w-[100%] h-[100vh] relative bg-black/50 bg-opacity-50
  }

  .span2 {
    @apply  text-[2rem]  tracking-[10%] text-gray-200;
  }
  .span {
    @apply  text-[4rem]  tracking-[10%] uppercase text-white;
  }
}

